<!DOCTYPE html>
<html>

<head>
  <% include ../partials/Header %>
</head>

<body class="container">

	<header>
		<% include ../partials/nav %>
	</header>

	<main>

	  <h1>Will run for coffee!!!</h1>

	  <p id="demo">
	    Its true
	  </p>
	  <button class="btn btn-primary" type="submit"></button>

	  <button type="button" onclick="myFunction()">
	    Look at me
	  </button>

	</main>

</body>


</html>