<!DOCTYPE html>
<html>

<head>
  <% include ../partials/Header %>
</head>

<body class="container">

	<header>
		<% include ../partials/nav %>
	</header>

	<main>

	  <h1>Olivia Schlepphorst
	  </h1>

	  <p id="demo">
	    Computer Science and Business Major at Northeastern University
	  </p>
	  

	  <button type="btn btn-primary" onclick="myFunction()">
	    More stuff
	  </button>

	</main>

</body>


</html>