<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css"/>
  <script src="/js/main.js"></script>
</head>

<body>

  <h1>Will run for coffee</h1>

  <p id="demo">
    Its true
  </p>

  <button type="button" onclick="myFunction()">
    Look at me
  </button>

</body>


</html>